In [39]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split,cross_val_score,KFold,GridSearchCV
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [49]:
import pandas as pd
data = np.load('adult_data.npz', allow_pickle = True)
X_np = data[data.files[0]]
Y_np = data[data.files[1]]
feature_name = data[data.files[2]]

In [79]:
print(feature_name)

['age' 'workclass: Private' 'Self-emp-not-inc' 'Self-emp-inc'
 'Federal-gov' 'Local-gov' 'State-gov' 'Without-pay' 'Never-worked'
 'education-num' 'marital-status: Married-civ-spouse' 'Divorced'
 'Never-married' 'Separated' 'Widowed' 'Married-spouse-absent'
 'Married-AF-spouse' 'occupation: Tech-support' 'Craft-repair'
 'Other-service' 'Sales' 'Exec-managerial' 'Prof-specialty'
 'Handlers-cleaners' 'Machine-op-inspct' 'Adm-clerical' 'Farming-fishing'
 'Transport-moving' 'Priv-house-serv' 'Protective-serv' 'Armed-Forces'
 'White' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other' 'Black'
 'sex Male' 'sex Female' 'hours-per-week' 'United-States' 'Cambodia'
 'England' 'Puerto-Rico' 'Canada' 'Germany' 'Outlying-US(Guam-USVI-etc)'
 'India' 'Japan' 'Greece' 'South' 'China' 'Cuba' 'Iran' 'Honduras'
 'Philippines' 'Italy' 'Poland' 'Jamaica' 'Vietnam' 'Mexico' 'Portugal'
 'Ireland' 'France' 'Dominican-Republic' 'Laos' 'Ecuador' 'Taiwan' 'Haiti'
 'Columbia' 'Hungary' 'Guatemala' 'Nicaragua' 'Scotland' 'Thailand'
 'Yugoslavia' 'El-Salvador' 'Trinadad&Tobago' 'Peru' 'Hong'
 'Holand-Netherlands']

In [72]:
X = pd.DataFrame(X_np, columns=feature_name)
y = pd.DataFrame(Y_np, columns=['income'])

print("Features DataFrame:")
display(X.head())
print("\nTarget DataFrame:")
display(Y.head())

Features DataFrame:

,age,workclass: Private,Self-emp-not-inc,Self-emp-inc,Federal-gov,Local-gov,State-gov,Without-pay,Never-worked,education-num,...,Guatemala,Nicaragua,Scotland,Thailand,Yugoslavia,El-Salvador,Trinadad&Tobago,Peru,Hong,Holand-Netherlands
0,39,0,0,0,0,0,1,0,0,13,...,0,0,0,0,0,0,0,0,0,0
1,50,0,1,0,0,0,0,0,0,13,...,0,0,0,0,0,0,0,0,0,0
2,38,1,0,0,0,0,0,0,0,9,...,0,0,0,0,0,0,0,0,0,0
3,53,1,0,0,0,0,0,0,0,7,...,0,0,0,0,0,0,0,0,0,0
4,28,1,0,0,0,0,0,0,0,13,...,0,0,0,0,0,0,0,0,0,0

Target DataFrame:

  income
0      0
1      0
2      0
3      0
4      0

In [78]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X_np.astype(int), Y_np.astype(int), test_size=0.2, random_state=42)

y_train = y_train.reshape(-1, 1)
y_test = y_test.reshape(-1, 1)

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

rf_model.fit(X_train, y_train.reshape(-1, 1))

y_pred = rf_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)
print(classification_report(y_test, y_pred))

/tmp/ipykernel_769790/1120504936.py:12: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model.fit(X_train, y_train.reshape(-1, 1))

Accuracy: 0.8088844687551798
              precision    recall  f1-score   support

           0       0.86      0.89      0.87      4503
           1       0.64      0.57      0.60      1530

    accuracy                           0.81      6033
   macro avg       0.75      0.73      0.74      6033
weighted avg       0.80      0.81      0.80      6033

In [ ]:
# Installation de la bibliothÃ¨que Aequitas
!pip install aequitas

import pandas as pd
from aequitas.preprocessing import preprocess_input_df
from aequitas.group import Group
from aequitas.plotting import Plot
from aequitas.bias import Bias
from aequitas.fairness import Fairness

In [ ]:
protected_attributes = [{'sex Male':'sex Male'}, {'sex Female': 'sex Female'}]

g = Group()
xtab, _ = g.get_crosstabs(df, protected_attributes)

aqp = Plot()

fpr = aqp.plot_group_metric(xtab, 'fpr')

b = Bias()
bdf = b.get_disparity_predefined_groups(xtab, original_df=df, ref_groups_dict=None)

fpr = aqp.plot_disparity(bdf, group_metric='fpr_disparity', attribute_name='sex Female')